.app{
  width: 100%;
  margin: 0 auto;
   font-family: "Tinos", serif;
  font-style: normal;
   display: flex;
   flex-direction:column;
   justify-content: space-between;
    align-items: center;
    background-image: url("/public/img/fon12.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;

}

.estilo {
  
  background: white;
  border-radius: 8px;
  box-shadow: 0px 2px 8px rgba(0,0,0,0.1);
  overflow: hidden;
  max-width: 320px;
  /*transition: box-shadow 0.3s ease, transform 0.3s ease;  */
}

/*
.estilo:hover {
  
  transform: translateY(-2px);
  box-shadow: 0px 6px 16px rgba(0,0,0,0.15);
} */


