.app{
  width: 100%;
  margin: 0 auto;
   font-family: "Tinos", serif;
  font-style: normal;
   display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin-top:50px;
 
    

}



