.app{
  width: 100%;
  margin: 0 auto;
   font-family: "Tinos", serif;
  font-style: normal;
   display: flex;
   flex-direction:column;
   justify-content: space-between;
    align-items: center;
    background-image: url("/public/img/fon12.png");
  background-size:cover;
  background-repeat: no-repeat;
  height: 100vh;


}






