.dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
}

.position-relative {
  position: relative;
}